@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color: #F8F8FF;
  /* background-color: #243447; */
}
h1,h2{
  font-family: 'Playfair Display SC', serif;
  color: #e91E63;
  font-size: 3em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

