@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@700&display=swap');

/* The Navigation Section ----------------------------------------------------------------------------------------------------------------*/
.GlobalNavStyle{
    width: 100%;
    background-color: #60C689;
    margin-bottom: 10%;
}
.GlobalNav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}
.NavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
.NavContainer a{
    font-size: 2em;
}
.NavContainer a:hover{
    text-decoration: underline;
}
.ContactContainer{
    padding-top: 2rem;
}
.ContactContainer p{
    padding: 0;
    margin: .25em
}
/* The Home Section ----------------------------------------------------------------------------------------------------------------*/
.HomeContainerStyle{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15%;
}
.SubtitleContainer{
    width: 50%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeroImage{
    overflow: hidden;
    box-shadow: 0 0 0 5px #60C689;
    padding: 10px;
}

.HeroImage2{
    box-shadow: 0 0 0 5px #57DCBC;
    padding: 15px;
}

.HeroImage3{
    transform: rotate(45deg);
    box-shadow:0 0 0 5px #57ACDC;
    padding: 15px;
}

/* The Experience Section ----------------------------------------------------------------------------------------------------------------*/
.ExperienceContainer{
    width: 100%;
    padding: 5% 10%;
    margin: 0 auto;
    background-color: #57DCBC;
}
.ExperienceContainer{
    font-size: 1.5em;
    color: #000;
}
.ExperienceBodyContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.ExpSchool, .ExpWork, .ExpTech{
    width: 30%;
    padding-left: 1em;
}

.ExpImage{
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: solid 4px #e91E63;
    padding: 10px;
}


/* The Projects Section ----------------------------------------------------------------------------------------------------------------*/
.ProjectsContainer{
    width: 80%;
    padding: 15% 0;
    margin: 0 auto;
    
}
.ProjectsBodyContainer{
    display: flex;
    justify-content: space-evenly;
    
}
/* The Projects Section ----------------------------------------------------------------------------------------------------------------*/
.DarkModeStyle{
    background-color: #141d26;
    color: #F8F8FF;
}
.ExpDarkMode{
    background-color: #243447;
    color: #F8F8FF;
}
  .DarkModeContainer{
    cursor: pointer;
  }
