@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display+SC:wght@700&display=swap');

/* The Home Section ----------------------------------------------------------------------------------------------------------------*/
.HomeContainerStyle{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}
.SubtitleContainer{
    width: 50%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The Navigation Section ----------------------------------------------------------------------------------------------------------------*/
.GlobalNavStyle{
    width: 100%;
    background-color: #e91E63;
}
.GlobalNav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}
.NavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
.NavContainer a{
    font-size: 2em;
}
.NavContainer a:hover{
    text-decoration: underline;
}
.ContactContainer{
    padding-top: 2rem;
}
.ContactContainer p{
    padding: 0;
    margin: .25em
}
/* The Experience Section ----------------------------------------------------------------------------------------------------------------*/
.ExperienceContainer{
    padding-top: 15%;
}
.ExperienceBodyContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.ExpSchool, .ExpWork, .ExpTech{
    width: 30%;
    padding-left: 1em;
}

/* The Projects Section ----------------------------------------------------------------------------------------------------------------*/
.ProjectsContainer{
    padding: 15% 0;

}
.ProjectsBodyContainer{
    display: flex;
    justify-content: space-evenly;

}
